Source: phosh-config-hwcomposer
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/phosh-config-hwcomposer
Vcs-Git: https://github.com/furilabs/phosh-config-hwcomposer.git

Package: phosh-config-hwcomposer
Architecture: all
Pre-Depends: libhybris
Depends: ${misc:Depends},
         halium-wrappers (>= 10),
Description: APT configurations for droidian
 This package contains configurations required to start phosh on hwcomposer
